<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.movile.up.seriestracker" >

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- SISTEMA -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".application.SeriesTrackerApplication">

        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.ShowsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ShowDetailsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.ShowsActivity">
        </activity>

        <activity
            android:name=".activity.SeasonDetailsActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".activity.EpisodeDetailsActivity"
            android:label="@string/app_name" >

        </activity>

        <service
            android:name=".service.UpdatesService"
            android:exported="false" />

        <receiver
            android:name=".receiver.ShowUpdateReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.movile.up.seriestracker.action.SHOW_UPDATE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
